<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTANOS</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <nav>
            <h2>Diseño <span>Multimedia</span> </h2>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./servicios.html">SERVICIOS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="suscribete">
            <h3>Suscribete a nuestro boletín</h3>
            <div class="formularioSuscribete">
                <input type="email" placeholder="Ingrese el Email..." required>
                <input type="button" value="Suscríbete">
            </div>
        </div>
    </header>
    <main class="formularioDeContacto">
        <article>
            <h4>Contacto</h4>
            <form class="contactanos" action="">
                <div class="campo">
                    <label for="">Nombre</label>
                    <input type="text" name="" class="campoFormulario" placeholder="Ingresa tu nombre">
                </div>
                <div class="campo">
                    <label for="">Email</label>
                    <input type="email" name="" class="campoFormulario" placeholder="Ingresa tu Email">
                </div>
                <div class="campo">
                    <label for="">Teléfono</label>
                    <input type="tel" name="" class="campoFormulario" placeholder="Ingresa tu telefono">
                </div>
                <div class="campo">
                    <label for="">Celular</label>
                    <input type="tel" name="" class="campoFormulario" placeholder="Ingresa tu celular">
                </div>
                <div class="campo">
                    <label for="">Mensaje</label>
                    <textarea name="" placeholder="..." class="mensajeUsuario" cols="30" rows="10"></textarea>
                </div>
                <input type="button" id="enviar_mensaje" value="Enviar">
            </form>
        </article>
        <aside>
            <section>
                <h4>Que hacemos</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, culpa quidem. Id aperiam, eos quam, temporibus quasi maxime dolorem cumque voluptas pariatur blanditiis rem eius totam eum expedita perspiciatis veniam.</p>
            </section>
            <figure>
                <img src="../assets/images/mapaGoogle.png" alt="">
            </figure>
        </aside>
    </main>
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>