<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <nav>
            <h2>Diseño <span>Multimedia</span> </h2>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./servicios.html">SERVICIOS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="suscribete">
            <h3>Suscribete a nuestro boletín</h3>
            <div class="formularioSuscribete">
                <input type="email" placeholder="Ingrese el Email..." required>
                <input type="button" value="Suscríbete">
            </div>
        </div>
    </header>
    <main class="nosotros">
        <article>
            <h4>Nosotros</h4>
            <div class="info">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti neque molestiae asperiores nihil perspiciatis adipisci qui saepe voluptatem eos sit facere alias officia aperiam, minima sapiente accusantium praesentium velit odit tempora iste vero nesciunt voluptate animi! Culpa maxime non impedit excepturi exercitationem praesentium corporis molestias laudantium sit. Nemo beatae autem optio? Itaque non sunt ut tempora corrupti eius, adipisci sit corporis maiores dignissimos cum at!</p>
            </div>
            <div class="info">
                <p class="texto_marcado">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eveniet sapiente temporibus praesentium perferendis veniam voluptatum omnis dolores consequatur quod sequi, quos inventore doloremque excepturi libero modi reprehenderit aperiam, aliquam dolorum ipsum quaerat laboriosam a soluta. Facere hic quidem ut quia voluptatum, molestiae autem accusantium excepturi libero culpa nihil corrupti fuga optio tenetur. Rem nulla voluptatum velit voluptas odit, perspiciatis iure voluptatem reprehenderit modi labore magni quas. Amet accusamus commodi excepturi soluta porro, atque ullam.</p>
            </div>
            <figure>
                <img src="../assets/images/891.jpg" alt="">
            </figure>
        </article>
        <aside>
            <section>
                <h4>Que hacemos</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, culpa quidem. Id aperiam, eos quam, temporibus quasi maxime dolorem cumque voluptas pariatur blanditiis rem eius totam eum expedita perspiciatis veniam.</p>
            </section>
        </aside>
    </main>
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>