<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Servicios</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <nav>
            <h2>Diseño <span>Multimedia</span> </h2>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./servicios.html">SERVICIOS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="suscribete">
            <h3>Suscribete a nuestro boletín</h3>
            <div class="formularioSuscribete">
                <input type="email" placeholder="Ingrese el Email..." required>
                <input type="button" value="Suscríbete">
            </div>
        </div>
    </header>
    <main class="servicios">
        <article>
            <h4>Servicios</h4>
            <section class="informacionServicio">
                <h4>Diseño Web</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum repellat quam, distinctio suscipit hic deleniti fugiat eos eveniet. Id, sequi.</p>
                <span>Precio: 300000 - 1000000</span>
            </section>
            <section class="informacionServicio">
                <h4>Desarrollo Web</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum repellat quam, distinctio suscipit hic deleniti fugiat eos eveniet. Id, sequi.</p>
                <span>Precio desde: 1000000</span>
            </section>
            <section class="informacionServicio">
                <h4>Hosting Web</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum repellat quam, distinctio suscipit hic deleniti fugiat eos eveniet. Id, sequi.</p>
                <span>Precio: 3000000 - 1000000</span>
            </section>
        </article>
        <aside>
            <section>
                <h4>Que hacemos</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, culpa quidem. Id aperiam, eos quam, temporibus quasi maxime dolorem cumque voluptas pariatur blanditiis rem eius totam eum expedita perspiciatis veniam.</p>
            </section>
        </aside>
    </main>
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>